<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/fontawesome.min.css" integrity="sha512-P9vJUXK+LyvAzj8otTOKzdfF1F3UYVl13+F8Fof8/2QNb8Twd6Vb+VD52I7+87tex9UXxnzPgWA3rH96RExA7A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="container">
  <div class="text">
    <h4>Let's connect :)</h4>
</div>
<div class = "centerdiv">
  <a href="https://www.facebook.com/profile.php?id=100014056747334"><i class = "fa fa-2x fa-facebook"></i></a>
  <a href="https://www.instagram.com/ishan_jan1/"><i class = "fa fa-2x fa-instagram"></i></a>
  <a href="https://www.linkedin.com/in/ishan-jain-64ba6b194/"><i class = "fa fa-2x fa-linkedin"></i></a>
</div>
</div>

