<div class="container-fluid main_header">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <div class="row">
        <div class="col-md-6 col-12 main_header_left">
          <p style="margin-top: 10px;">Hello Folks!</p>
          <h4>Myself, Ishan Jain I am a B.Tech undergraduate. I have done my major in Computer Science and Engineering.</h4>
          <h4>I am interested in Cloud technologies. And also certified Google Cloud Associate Cloud Engineer and AWS Cloud Practitioner.</h4>
          <h4>I am currently working as a Software Intern at <span class="txt_clr">Biz2Credit.</span></h4>
        </div>
        <div class="col-md-6 col-12 main_header_right align-items-center">
          <img src="assets/profile.jpeg" style="width: 400px; height: 400px; margin-top: 50px; margin-bottom: 98.6px;">
        </div>
      </div>
    </div>
  </div>
</div>
