.main_header_left{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.main_header_left p{
  font-size: 1.5rem;
}

.main_header_left button{
  border: none;
  padding: 1rem 1rem 1rem;
  font-size: 1rem;
  border-radius: 1rem;
  box-shadow: 0px 6px 4px -4px #000;
  outline: none;
}

.main_header_left button:hover{
  box-shadow: 0px 6px 4px -4px #0097e6;
}

.main_header_left .txt_clr{
  color: green;
}

.main_header_left .txt_clr:hover{
  color: lightgreen;
}
